Fade angualar: {{mesaj}}
        <div ng-controller="FadeAngularController as app">
            <button ng-click="app.fadeIt()"> Fade it !!!</button>

            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
            <div hide-me="app.isHidden"> Fade me</div>
        </div>